#about{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
}

#aboutOne{
    width: 40%;
    height: 100%;
    
}

#aboutTwo{
    width: 60%;
    height: 100%;
    
}

