.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/*CArd*/
.imageContainer {
  flex: 1;
  height: 50%;
  background-size: cover;
}

#Projectimg{
  height: 50vh;
  width: 40vw;
}

.Textcontainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.propsh1 {
  font-size: 72px;
}

.propsp {
  color: gray;
  font-size: 20px;
}

.boo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.but {
  background-color: rgb(240, 190, 97);
  border: none;

  border-radius: 14px;
  padding: 8px;

  cursor: pointer;
}

.but a {
  font-size: 1.5rem;
  font-weight: 500;
}
