#Contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;
}

#contactText{
    display: flex;
   
    
    flex-direction: column;
    gap: 20px;
}

#Contacthead{
    font-size: 4rem;
}

#Contactdata h1{
    font-size: 1.5rem;
}

#Contactdata span {
    font-size: 1rem;
}

/*Massagearea*/

#contactArea{
    flex: 1;
    z-index: 1;
    
}

#contactArea form{

    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

#contactArea input,textarea {
    width: 400px;
    padding: 20px;
    position: relative;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    z-index: 1;
}

#contactsvg{
    stroke: orange;
    position: absolute;
    margin: auto;
    z-index: 1;
}

#contactArea button {
    font-size: 2rem;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(246, 183, 24);
    cursor: pointer;
    z-index: 1;
}

