* {
 
  padding: 0px;
  margin: 0px;
}

.logo {
  height: 25px;
  width: 30px;
}


#main-logo {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-right: 30px;
}

#Name{
  font-size: 3rem;
  color: #53B2F1;
  font-weight: 800;
}
.logo-email {
  height: 25px;
  width: 45px;
}
