#Project{
    position: relative;
}

#Projectheading{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 500px;
    text-align: center;
    color: orange;
    font-size: 36px;
}

#Processbar {
    height: 10px;
    background-color: white;
  }