#content{
    height: calc(100vh - 100px);
    display: flex;
    background: linear-gradient(180deg, #0c0c1d, #111132);

}

/*text area*/
#text-area{
    height: calc(100vh - 100px);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 210px;
}

#text-h2{
    font-size: 2rem;
    color: rebeccapurple;
    
}

#text-h1{
     font-size: 5rem;
}

#text-info{
  display: flex;
  gap: 50px;
  margin-top: 20px;
}


.buttoms{
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

#Scrolling{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    
}

/*text area end*/

.Wrapper{
    height: 100%;
    width: calc(100vw - 550px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidingtext{
   
    position: absolute;
    font-size: 50vh;
    bottom: -70px;
    white-space: nowrap;
    color: #ffffff30;
    width: 50%;
    text-overflow: hidden;
}

#buttomsa{
    z-index: 1;
    color: aliceblue;
    font-size: 20px;
}



#Images{
    height: 100%;
    position: absolute;
    right: 0;
   
}

#img{
    height: 86%;
    width: 550px;
    overflow: hidden;
    object-fit: cover;
}


